$dark1: black;
$dark2: #050505;
$dark3: #090909;
$dark4: #0d0d0d;
$dark5: #1a1a1a;
$dark6: #1d1d1d;
$app-bg-dark: $dark4;
$app-bg-dark2: $dark1;
$app-bg-light: #F5F5F5;
$app-bg-light2: #f2f2f2;
$app-orange-detail: #F7B500;
