<div class="whyus-container">
  <div class="whyus-content">
    <p class="choose-heading font-heading">{{"WHYCHOOSEUS.whychooseus" | translate}}</p>
    <div class="choose-us-details">
      <div class="choose-us-item" *ngFor="let i of whyUs">
        <div class="choose-us-icon">
          <img [src]="i.icon" alt="" class="img-fluid">
        </div>
        <p class="choose-item-subheading font-default">{{i.heading | translate}}</p>
        <p class="choose-us-text font-default">{{i.description | translate}}</p>
      </div>
    </div>
  </div>
</div>
