@import "../../../styles/pallete";

.toolbar-container {
  display: flex;
  justify-content: center;
  background: $app-bg-dark;
  box-shadow: 1px 5px 8px rgba(0,0,0,0.5);
  position: relative;

  .toolbar-content {
    max-width: 1024px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 50px;

    p {
      color: $app-bg-light;
      margin-left: 20px;
      cursor: pointer;
      font-weight: normal;
    }

    .toolbar-logo {
      display: flex;
      flex: 1;
      align-items: center;

      img {
        height: 70%;
      }

    }

    .toolbar-right {
      align-items: center;
      .toolbar-menu {
        display: flex;
        flex: 2;
        //justify-content: space-between;
        justify-content: flex-end;
        align-items: center;

        p {
          font-size: 14px;
          margin-left: 20px;
          font-weight: normal;
          outline: none;
          @include hoverDetail;
          white-space: nowrap;
        }
      }
      .toolbar-lang{
        .curent-lang{
          margin-left: 20px;
          img{
            height: 20px;
          }
          p{
            color: white;
            margin-left: 0;
          }
        }
        .lang-dropdown{
          z-index: 3;
          background: white;
          top: 50px;
          right: 0;
          .lang-item{
            padding: 6px 12px;
            img{
              height: 20px;
            }
            p{
              color: black;
              margin: 0;
            }
          }
        }
      }
    }

  }
}
