@import "../../../styles/pallete";

#acc-container {
  button {
    width: 200px;
  }

  img {
    object-fit: contain;
  }
}

#accessorize-text {
  p {
    color: $app-bg-light2;
  }
}

@media screen and (max-width: 560px) {
  #acc-container img {
    margin-top: 20px;
    max-width: 50%;
  }
}

