<div class="accessorizes-container">
  <div class="accessorizes-content">
    <div class="accessorize-image">
      <img src="./assets/img/headphones.png" alt="" class="img-fluid">
    </div>
    <div class="accessorize-text">
      <p class="font-heading">Accessorizes</p>
      <p class="font-default">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
        laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      <button class="btn-transparent-dark">More</button>
    </div>
  </div>
</div>
