<div class="contact-header-container">
  <div class="contact-header-content">
    <p class="font-heading"><b>{{"MAINMENU.contact" | translate}}</b></p>
    <img src="../../../../assets/img/mapamarker.png" alt="" class="img-fluid">
  </div>
</div>
<div class="contact-info-container">
  <div class="contact-info-content">
    <div class="info-details">
      <div class="info-details-item">
        <mat-icon>place</mat-icon>
        <div class="d-flex flex-column">
          <p class="m-0">Antuna Dobronića 1a</p>
          <p class="m-0">23000 Zadar</p>
        </div>
      </div>
      <div class="info-details-item">
        <mat-icon>mail</mat-icon>
        <a href="mailto:iphoneserviszadar@gmail.com">iphoneserviszadar@gmail.com</a>
      </div>
      <div class="info-details-item">
        <mat-icon>call</mat-icon>
        <a href="tel:+385098658442">+385 098 658 442</a>
      </div>
      <div class="info-details-item">
        <p class="m-0">OIB: 59367467399</p>
      </div>

    </div>
    <div class="mail-form">
      <app-contact-form-component></app-contact-form-component>
    </div>
  </div>
</div>
<app-google-map-component></app-google-map-component>
<!--<app-faq-component></app-faq-component>-->
