<div class="contact-header-container">
  <div class="contact-header-content">
    <p class="font-heading"><b>Fell free <br>to contact us</b></p>
    <img src="../../../../assets/img/mapamarker.png" alt="" class="img-fluid">
  </div>
</div>
<div class="contact-info-container">
  <div class="contact-info-content">
    <div class="info-details">
      <div class="info-details-item">
        <mat-icon>place</mat-icon>
        <p>Ul. Antuna Dobronića 3<br>23000, Zadar<br>Hrtvatska<br>
        </p>
      </div>
      <div class="info-details-item">
        <mat-icon>mail</mat-icon>
        <a href="mailto:iphoneserviszadar@gmail.com">iphoneserviszadar@gmail.com</a>
      </div>
      <div class="info-details-item">
        <mat-icon>call</mat-icon>
        <a href="tel:+385098658442">+385 098 658 442</a>
      </div>
    </div>
    <div class="mail-form">
      <app-contact-form-component></app-contact-form-component>
    </div>
  </div>
</div>
<app-google-map-component></app-google-map-component>
<app-faq-component></app-faq-component>
