<div class="form-container">
  <div class="form-content">
    <form [formGroup]="contactForm">
      <div class="two-items">
        <mat-form-field appearance="legacy">
          <mat-label>Unesite vase ime</mat-label>
          <input matInput placeholder="Vase ime" autocomplete="off" formControlName="name">
          <mat-error>Upisati Vase ime</mat-error>
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Unesite vas email</mat-label>
          <input matInput placeholder="Email" autocomplete="off" formControlName="email">
          <mat-error>Upisati Vas e-mail</mat-error>
        </mat-form-field>
      </div>
      <div class="subject">
        <mat-form-field appearance="legacy">
          <mat-label>Unesite naslov poruke</mat-label>
          <input matInput placeholder="Naslov" autocomplete="off" formControlName="subject">
          <mat-error>Upisati naslov</mat-error>
        </mat-form-field>

        <mat-form-field>
          <textarea matInput #message maxlength="500" placeholder="Type your message" [rows]="3" mat-autosize="false"
                    formControlName="message"></textarea>
          <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
          <mat-error>Upisati sadrzaj poruke</mat-error>
        </mat-form-field>
      </div>
      <button class="btn-transparent-dark" (click)="sendMail()" [disabled]="!contactForm.valid">Send</button>
    </form>
  </div>

</div>
