.form-container {
  display: flex;
  justify-content: center;

  .form-content {
    max-width: 1024px;
    width: 100%;

    form {
      width: 100%;
      margin: auto;

      mat-label, input, textarea {
        color: black;
      }

      .two-items {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        justify-content: space-between;

        mat-form-field {
          width: 48%;
        }
      }

      .subject {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      button {
        outline: none;
        width: 100%;
        max-width: 150px;
        float: right;
        margin-top: 20px;
      }

      button:disabled,
      button[disabled] {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
      }
    }
  }
}
