@import "../../../styles/pallete";

.header-container {
  display: flex;
  justify-content: center;

  .header-content {
    max-width: 1024px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;

    .header-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;

      p {
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        color: $app-bg-dark;

        &:first-of-type {
          font-size: 60px;
          line-height: 70px;
          font-weight: 900;
        }
      }

      .buttons {
        display: flex;
        margin-top: 20px;

        button {
          width: 150px;
          font-size: 16px;
          line-height: 30px;
          margin-bottom: 40px;
          cursor: pointer;

          &.more {
            border: 2px solid $app-bg-dark;
            color: $app-bg-dark;
            background: transparent;
          }

          &.contact {
            border: 2px solid $app-bg-dark;
            color: $app-bg-light;
            background: $app-bg-dark;
            margin-left: 10px;
          }
        }
      }
    }

    .header-img {
      display: flex;
      flex: 1;

      img {
        object-fit: contain;
        max-height: 350px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .header-container {
    padding: 0 10px;
  }
}

@media screen and (max-width: 768px) {
  .header-content {
    flex-direction: column;
  }
}

@media screen and (max-width: 560px) {
  .header-text {
    p:first-of-type {
      margin-top: 0!important;
    }
  }
}
