<div class="services-heading">
  <div class="services-heading-content">
    <p class="font-heading"><b>The most popular repair directions <br> for our customers</b></p>
  </div>
</div>

<div class="services-container">
  <div class="services-content">

    <div class="services-info">
      <p class="font-heading"><b>What is Lorem Ipsum?</b></p>
      <p class="font-medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries</p>
    </div>

    <div class="zz zig">
      <div class="zz-text">
        <p class="font-medium"><b>Care for <br> your iPhone</b></p>
        <p class="font-default">
          t takes input in the form of a hex color code value and converts that value to a RGB value that can be used to
          specify color in photo editing software. Photo editing software usually represents color in RGB and therefore
          if you would like to use the same colors that you use in your html pages in your photo editing software you
          will need the RGB values for the hex code. This tool allows you to get those values.
        </p>
      </div>
      <div class="zz-img">
        <img src="./assets/img/zz1.jpg" alt="" class="img-fluid">
      </div>
    </div>

    <div class="zz left zig">
      <div class="zz-text">
        <p class="font-medium"><b>Care for <br> your iPhone</b></p>
        <p class="font-default">
          t takes input in the form of a hex color code value and converts that value to a RGB value that can be used to
          specify color in photo editing software. Photo editing software usually represents color in RGB and therefore
          if you would like to use the same colors that you use in your html pages in your photo editing software you
          will need the RGB values for the hex code. This tool allows you to get those values.
        </p>
      </div>
      <div class="zz-img">
        <img src="./assets/img/zz2.jpg" alt="" class="img-fluid">
      </div>
    </div>

    <div class="zz zig">
      <div class="zz-text">
        <p class="font-medium"><b>Care for <br> your iPhone</b></p>
        <p class="font-default">
          t takes input in the form of a hex color code value and converts that value to a RGB value that can be used to
          specify color in photo editing software. Photo editing software usually represents color in RGB and therefore
          if you would like to use the same colors that you use in your html pages in your photo editing software you
          will need the RGB values for the hex code. This tool allows you to get those values.
        </p>
      </div>
      <div class="zz-img">
        <img src="./assets/img/zz4.jpg" alt="" class="img-fluid">
      </div>
    </div>

    <app-accessorizes-component></app-accessorizes-component>

  </div>
</div>
