@import "./styles/pallete";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 100%;
  max-width: 340px;
}

mat-sidenav-container {
  mat-sidenav {
    .lang-dropdown {
      right: 0;
      top: 56px;
      background: white;
      z-index: 555;
      box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.3);

      .lang-item {
        display: flex;
        align-items: center;
        padding: 6px 12px;

        p {
          color: black;
        }
      }
    }

    mat-toolbar {
      background: $app-bg-dark;

      p {
        margin: auto;
        color: white;
      }
    }

    mat-nav-list {
      padding-top: 0;

      mat-list-item {
        a {
          color: $app-bg-dark;
        }

        button {
          mat-icon {
            color: $app-bg-dark;
          }
        }
      }

      //Active route
      .active {
        background: $app-bg-dark2;

        a {
          color: #F7B500;
        }

        button {
          mat-icon {
            color: #F7B500;
          }
        }
      }
    }
  }

  mat-sidenav-content {
    mat-toolbar {
      background: $app-bg-dark2;

      button {
        mat-icon {
          color: white;
        }
      }

      .d-flex.align-items-center {
        margin: auto;
        padding-right: 40px;

        img {
          margin-right: 10px;
        }

        p {
          color: white
        }
      }
    }
  }
}
