<div *ngIf="innerWidth>=1024">
  <app-toolbar-component></app-toolbar-component>
  <router-outlet></router-outlet>
  <app-footer-component></app-footer-component>
</div>

<mat-sidenav-container class="sidenav-container" *ngIf="innerWidth<1024">
  <mat-sidenav
      #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="'over'"
      [opened]="false">

    <mat-toolbar>
      <img src="../../../../assets/img/steve-jobs-logo.png" alt="" height="20px">
      <p>iPhone Servis Zadar</p>

<!--  start lang   -->
      <div class="d-flex justify-content-end" style="max-width: 55px;width: 100%" (click)="toggleDropDownLanguages()">
        <div class="d-flex position-relative align-items-center">
          <img [src]="currentLang.img" alt="" style="height: 20px">
          <p>{{currentLang.nameShort}}</p>
        </div>

        <div class="lang-dropdown position-absolute d-flex flex-column" *ngIf="langDroped">
          <div class="d-flex lang-item" *ngFor="let l of languages" (click)="setLanguage(l)">
            <img [src]="l.img" alt="" style="height: 20px">
            <p>{{l.name}}</p>
          </div>
        </div>
      </div>
<!--   end lang   -->

    </mat-toolbar>

    <mat-nav-list (click)="drawer.toggle()">
      <mat-list-item
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        routerLink="/"
      >
        <a matLine>{{"MAINMENU.home" | translate}}</a>
        <button mat-icon-button>
          <mat-icon>home</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        routerLink="/about">
        <a matLine>{{"MAINMENU.about" | translate}}</a>
        <button mat-icon-button>
          <mat-icon>phone_iphone</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        routerLink="/services">
        <a matLine>{{"MAINMENU.services" | translate}}</a>
        <button mat-icon-button>
          <mat-icon>phone_iphone</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        routerLink="/gallery">
        <a matLine>{{"MAINMENU.gallery" | translate}}</a>
        <button mat-icon-button>
          <mat-icon>phone_iphone</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}"
        routerLink="/contact">
        <a matLine>{{"MAINMENU.contact" | translate}}</a>
        <button mat-icon-button>
          <mat-icon>location_on</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar-main">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="d-flex align-items-center">
        <img src="../../../../assets/img/steve-jobs-logo.png" alt="" height="30px">
        <p>iPhone Servis Zadar</p>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <app-footer-component></app-footer-component>
  </mat-sidenav-content>
</mat-sidenav-container>

