<!--<app-header-details-component [headerData]="headerData"></app-header-details-component>-->

<!--<div class="iphone-x-container">-->
<!--  <div class="iphone-x-content">-->
<!--    <div class="x-shape">-->
<!--      <img src="./assets/img/x-shape.png" alt="" class="img-fluid">-->
<!--    </div>-->
<!--    <div class="x-text">-->
<!--      <p>iPhone X</p>-->
<!--      <p>Keytar McSweeney's Williamsburg, readymade leggings try-hard 90's street art letterpress hoodie occupy Wes-->
<!--        Anderson Banksy. Asymmetrical viral letterpress, McSweeney's seitan 3 wolf moon drinking vinegar sartorial-->
<!--        pour-over messenger bag photo booth umami next level craft beer. Tote bag 8-bit flannel dreamcatcher photo-->
<!--        booth. Tofu photo booth American Apparel, cliche brunch swag </p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<app-about-us-short></app-about-us-short>
<app-whyus-component></app-whyus-component>
<app-accessorizes-component></app-accessorizes-component>
<app-guarantee-component></app-guarantee-component>
<!--<app-faq-component></app-faq-component>-->

