@import "../../../styles/pallete";

#guarante-detail {
  background: $app-bg-dark;

  #guarante-detail-heading, #guarante-detail-text {
    color: $app-bg-light;
  }
}

.guarantee-four-images {
  .two-images {
    width: 48%;

    img {
      padding: 10px;
    }
  }
}
