<div class="faq-container">
  <p class="font-heading"><b>FAQ</b></p>
  <p>Frequently asked questions</p>
  <div class="faq-content">
    <div class="exp-item">
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Ask us question 1 ?
          </mat-panel-title>
          <mat-panel-description>
            click to see answer {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </div>
    <div class="exp-item">
      <mat-expansion-panel (opened)="panelOpenState1 = true"
                           (closed)="panelOpenState1 = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Ask us question 2 ?
          </mat-panel-title>
          <mat-panel-description>
            click to see answer {{panelOpenState1 ? 'open' : 'closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </div>
    <div class="exp-item">
      <mat-expansion-panel (opened)="panelOpenState2 = true"
                           (closed)="panelOpenState2 = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Ask us question 3 ?
          </mat-panel-title>
          <mat-panel-description>
            click to see answer {{panelOpenState2 ? 'open' : 'closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </div>
    <div class="exp-item">
      <mat-expansion-panel (opened)="panelOpenState3 = true"
                           (closed)="panelOpenState3 = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Ask us question 4 ?
          </mat-panel-title>
          <mat-panel-description>
            click to see answer {{panelOpenState3 ? 'open' : 'closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </div>
  </div>
  <img src="./assets/img/undraw_faq_rjoy.svg" alt="faq-img-iphone-servis-zadar" class="img-fluid" id="faq-img">
</div>
