.faq-container {
  display: flex;
  margin: 70px 0;
  position: relative;
  z-index: 3;
  //justify-content: center;

  flex-direction: column;
  align-items: center;

  .faq-content {
    max-width: 1024px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0;
    z-index: 4;

    .exp-item {
      width: 48%;
      margin-bottom: 20px;
    }
  }

  #faq-img {
    position: absolute;
    bottom: 0;
    max-height: 100%;
    z-index: -2;
    right: 200px;
  }
}

@media screen and (max-width: 1024px) {
  .faq-content {
    padding: 0 10px;
  }
}

@media screen and (max-width: 768px) {
  .faq-content {
    justify-content: center !important;

    .exp-item {
      width: 90% !important;
    }
  }
}
