@import "../../../styles/pallete";

.about-header{
  img{
    max-height: 350px;
    width: 100%;
    object-fit: cover;
  }
  .about-header-text{
    text-align: center;
    p{
      color: white;
    }
  }
}

@media screen and (max-width: 768px) {
  .about-header{
    img{
      max-height: 220px!important;
      width: 100%;
      object-fit: cover;
    }
  }
  .broken-content {
    flex-direction: column-reverse;

    .broken-img {
      align-items: center;
      justify-content: center;
      display: flex;
    }

    .broken-text {
      padding: 20px;
      margin-right: 0 !important;

      button {
        align-self: flex-end;
      }
    }
  }
}
