<div class="about-us-header">
  <div class="about-header-text">
    <p class="font-heading">
      <b>Cell <br> phones <br> save your <br> soul.</b>
    </p>
  </div>
</div>

<!--<div class="about-us-container">-->
<!--  <div class="about-us-content">-->

<!--    <div class="about-us-detail">-->
<!--      <img src="./assets/img/about-us-iphone.jpg" alt="" class="img-fluid">-->
<!--      <div class="detail-text">-->
<!--        <p class="font-heading"><b>OUR TEAM MV</b></p>-->
<!--        <p class="font-default">By default the minimum value of the slider is 0, the maximum value is 100, and the thumb-->
<!--          moves in increments-->
<!--          of 1. These values can be changed by setting the min, max, and step attributes respectively. The initial value-->
<!--          is set to the minimum value unless otherwise specified.-->
<!--          By default the minimum value of the slider is 0, the maximum value is 100, and the thumb moves in increments-->
<!--          of 1. These values can be changed by setting the min, max, and step attributes respectively. The initial value-->
<!--          is set to the minimum value unless otherwise specified.</p>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->

<app-whyus-component></app-whyus-component>

<!--<div class="about-container">-->
<!--  <div class="broken-container">-->
<!--    <div class="broken-content">-->
<!--      <div class="broken-text">-->
<!--        <p class="broken-text-heading"><b>We can help you now, fill out an application!</b></p>-->
<!--        <p><b>Let us help! If your phone has a broken front glass, non-responsive buttons</b></p>-->
<!--        <p>Non eget orci, pretium wisi maecenas eu, adipiscing nulla quisque maecenas pellentesque, ac placerat-->
<!--          parturient. Vitae urna orci tortor, eu integer. Fringilla ut sed. Ut phasellus suspendisse ut amet, animi-->
<!--          scelerisque, arcu mauris mauris euismod ornare elit felis. Voluptatibus enim dolor, sem quisque turpis, ut-->
<!--          vitae, vel dui lectus.</p>-->
<!--        <button class="btn-dark">Contact</button>-->
<!--      </div>-->
<!--      <div class="broken-img">-->
<!--        <img src="./assets/img/iphonex-600x595.png" alt="" class="img-fluid">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<app-guarantee-detail></app-guarantee-detail>

<app-services-detail></app-services-detail>

<div class="container-fluid" style="background: white">
  <div class="container ">
    <div class="row d-flex">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <p class="broken-text-heading font-medium mb-3" style="font-size: 32px;line-height: 36px"><b>We can help you now, fill out an application!</b></p>
        <p class="mb-2"><b>Let us help! If your phone has a broken front glass, non-responsive buttons</b></p>
        <p class="mb-3">Non eget orci, pretium wisi maecenas eu, adipiscing nulla quisque maecenas pellentesque, ac placerat
          parturient. Vitae urna orci tortor, eu integer. Fringilla ut sed. Ut phasellus suspendisse ut amet, animi
          scelerisque, arcu mauris mauris euismod ornare elit felis. Voluptatibus enim dolor, sem quisque turpis, ut
          vitae, vel dui lectus.</p>
        <button class="btn-dark align-self-center" style="width: 150px">Contact</button>
      </div>
      <div class="col-lg-6">
        <img src="./assets/img/iphonex-600x595.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<app-faq-component></app-faq-component>



<!--<app-guarantee-component ></app-guarantee-component>-->
