<div class="about-header position-relative d-flex justify-content-center align-items-center">
  <img src="./assets/img/services-1.jpg" alt="" class="img-fluid">
  <div class="about-header-text position-absolute ">
<!--    <p class="font-heading"><b>About us</b></p>-->
  </div>
</div>
<app-whyus-component></app-whyus-component>
<app-guarantee-detail></app-guarantee-detail>
<app-services-detail></app-services-detail>
<!--<div class="container-fluid" style="background: white">
  <div class="container pb-3">
    <div class="row d-flex flex-wrap-reverse">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <p class="broken-text-heading font-medium mb-3" style="font-size: 32px;line-height: 36px"><b>We can help you
          now, fill out an application!</b></p>
        <p class="mb-2"><b>Let us help! If your phone has a broken front glass, non-responsive buttons</b></p>
        <p class="mb-3">Non eget orci, pretium wisi maecenas eu, adipiscing nulla quisque maecenas pellentesque, ac
          placerat
          parturient. Vitae urna orci tortor, eu integer. Fringilla ut sed. Ut phasellus suspendisse ut amet, animi
          scelerisque, arcu mauris mauris euismod ornare elit felis. Voluptatibus enim dolor, sem quisque turpis, ut
          vitae, vel dui lectus.</p>
        <button class="btn-dark align-self-center" style="width: 150px">Contact</button>
      </div>
      <div class="col-lg-6">
        <img src="./assets/img/iphonex-600x595.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>-->
<!--<app-faq-component></app-faq-component>-->
