<div class="footer-container">
  <div class="footer-content">

    <div class="footer-short">
      <div class="logo">
        <img src="./assets/img/steve-jobs-logo.png" alt="" class="img-fluid">
        <p>iPhone servis Zadar</p>
      </div>
      <p>Keytar McSweeney's Williamsburg, readymade leggings try-hard 90's street art letterpress hoodie occupy Wes
        Anderson Banksy. Asymmetrical viral </p>
    </div>

    <div class="footer-menu">
      <p>Pocetna</p>
      <p>O nama</p>
      <p>Servis</p>
      <p>Galerija</p>
      <p>Kontakt</p>
    </div>

  </div>
</div>

<div class="footer-copyrights">
  <div class="copyrights-content">
    <p><b>2020 iPhoneServis Zadar</b> © All rights reserved</p>
    <div class="cards">
      <img src="./assets/img/paying-cards.png" alt="" class="img-fluid">
    </div>
  </div>
</div>
