<div class="footer-container">
  <div class="footer-content">

    <div class="footer-short">
      <div class="logo">
        <img src="./assets/img/steve-jobs-logo.png" alt="" class="img-fluid">
        <p>iPhone Servis Zadar</p>
      </div>
      <p>{{"FOOTER.footerCompanyTxt" | translate}}</p>
    </div>

    <div class="footer-menu">
      <div class="f-menu-sm">
        <p>{{"FOOTER.quickLinks.quickLinks" | translate}}</p>
        <p>{{"FOOTER.quickLinks.faq" | translate}}</p>
        <p (click)="openTermsDialog()">{{"FOOTER.quickLinks.terms" | translate}}</p>
        <p>{{"FOOTER.quickLinks.privacy" | translate}}</p>
      </div>
      <div class="f-menu-sm">
        <p>Legal stuff</p>
        <p routerLink="/about">{{"FOOTER.legalStuff.about" | translate}}</p>
        <p routerLink="/service">{{"FOOTER.legalStuff.services" | translate}}</p>
        <p routerLink="/gallery">{{"FOOTER.legalStuff.gallery" | translate}}</p>
        <p routerLink="/contact">{{"FOOTER.legalStuff.contact" | translate}}</p>
      </div>
    </div>

  </div>
</div>

<div class="footer-copyrights">
  <div class="copyrights-content">
    <p><b>2020 iPhone Servis Zadar</b> © All rights reserved</p>
    <div class="cards">
      <img src="./assets/img/paying-cards.png" alt="" class="img-fluid">
    </div>
  </div>
</div>
